body {
    background-color: rgb(252, 246, 235);
}

.rainbow-border {
    background-color: rgb(253, 243, 247);
    border: 3px solid;
    border-image: linear-gradient(#ff512f, #dd2476, #1c63ff) 1;
    animation: rotate 5s ease-in infinite;
}

@keyframes rotate {
    50% {
        border-image: linear-gradient(360deg, #ff512f, #dd2476, #1c63ff) 1;
    }
}

.App .card-group {
    width: 300px;
    height: 500px;
}